.number.number--positive {
  color: mediumseagreen;
}
.number.number--negative {
  color: tomato;
}

.monthly-view {
  display: flex;
  justify-content: space-around;
}

.envelopes {
  margin-top: 4em;
}